
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Cards</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <%- include("components/navbar") %>
    <%- include("components/messageBox") %>

    <div class="card-container">
        <button>
            <a href="/askquestion">Submit Question</a>
        </button>
       <% data.forEach((item)=>{ %>
            <div class="card" onclick="location.href='/question/<%-item.id%>' ">
                <h2><%- item.title  %></h2>
                <p>Author :<%- item.user.username %> </p>
            </div>
       <% }) %>


        <!-- Add more cards as needed -->
    </div>
    <%- include("../services/TimeOut") %>
</body>
</html>
