
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Cards</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <%- include("../components/navbar",{loggedInName}) %>
   <%- include("../components/messageBox") %>
    <div class="card-container">
            <div class="card">
                <div>
                    <img src="http://localhost:3000/<%-data[0].image%>" alt="" height="300px" width="700px">
                </div>
                <h1>Title: <%- data[0].title %></h1>
                <h3>Description: <%- data[0].description %></h3>
                <p>Author :<%- data[0].user.username %> </p><br>
                <i>Posted On: <%- new Date(data[0].createdAt).toLocaleDateString() %></i>
            </div>
            <div class="answer">
                <% ans.forEach((answer)=>{%>
                    <div class="card ans-card">
                        <h2 style="text-decoration: underline;" class="bold">Answer</h2>
                        <h3 class="bold"><%- answer.answerText %> </h3><br>
                        <div>
                        <i class="bold">Posted On: <%- new Date(answer.createdAt).toLocaleDateString() %></i>
                        <i class="ans-user bold">Answered By: <%- answer.user.username %></i>
                        <br>
                        <span id="likes"></span><button onclick="likePost(<%- answer.id%>)">
                            <img height="20px" width="20px" src="/likee.svg" alt="">
                        </button>
                        </div>
                       
                            <input class="delete_btn" type="button" onclick="location.href='/deleteAnswer/<%-answer.id%>' " value="delete">
                            <input class="edit_btn" type="button" onclick="location.href='/answerEdit/<%-answer.id%>' " value="edit">
                        </div>
                        <% })%>

            </div>
            <div class="answer_section">
                <form action="/answer/<%-data[0].id %>" method="post">
                    <textarea name="answerText" id="" cols="100" rows="10"></textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
        
    </div>
    <script src="/socket.io/socket.io.js"></script>
   <script>
    const socket = io();
    function likePost(id){
        socket.emit('like',id);
        console.log(id)

    }
    socket.on('likeUpdate',(likeCount)=>{
        const likes = document.getElementById('likes')
        likes.textContent = likeCount
    })
   </script>
  <!-- <script src="../../services/TimeOut.js"></script> -->
  <%- include("../../services/TimeOut.ejs") %>
</body>
</html>